.items-table {
    position: relative;

    .delete {
        top: 30px;
    }
    .items-table-container {
        @include table-container;
    
        .item-no {
            font-weight: 700;
            color: $text-2;
            width: 20%;

            @include md {
                width: 10%;
            }

            @include lg {
                width: 5%;
            }
        }
    
        .item-preview {
            max-width: 50px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    
        .item-type {
            width: 40%;
            color: $c-1;

            @include md {
                width: 20%;
            }

            @include lg {
                width: 15%;
            }
        }
    
    }
}