h2.stat {
    text-align: center;
    margin-top: $base-margin;
    font-weight: 700;
    color: $text-2;
}

.exit.stat {
    top: 80px;

    @include lg {
        right: -60px;
        top: 10px;
    }
}

.magnify {
    position: absolute;
    right: 20px;
    top: 120px;

    @include lg {
        right: 30px;
        top: 100px
    }

    span {
        @include toggle;
        padding: 10px;

        &:hover {
            @include boxshadow;
            background-color: rgba(255, 255, 255, 0.5);
            border-radius: $b-radius-1;
        }

        &.disable {
            cursor: default;
            opacity: 0.5;
            animation: none;
    
            &:hover {
                background-color: transparent;
                box-shadow: none;
            }
        }

        img {
            height: 20px;
        }
    }
}

.chart-container {
    padding-left: 0 !important;
    overflow-x: auto;

    @include lg {
        padding: 20px 160px 0 110px !important;
    }

    .chart {
        height: 60vh !important;

        .recharts-legend-wrapper {
            margin-left: $base-margin * 2;
        }
        
        .custom-tooltip {
            background-color: rgba(255, 255, 255, 0.7);
            padding: $base-padding;
            border-radius: $b-radius-1;

            .date, .time {
                font-weight: 600;
            }

            p {
                margin-bottom: 0;
            }
        }
    }

}

.save-chart {
    display: flex;
    justify-content: center
}

.no-data {
    text-align: center;
    margin-top: 20rem;
    color: $text-2;
}