h2.stat {
    text-align: center;
    margin-top: $base-margin;
    font-weight: 700;
    color: $text-2;
}

.exit.stat {
    top: 80px;
}

.magnify {
    position: absolute;
    right: 20px;
    top: 120px;

    img {
        @include toggle;
        height: 20px;
    }

    img.more {
        margin-left: $base-margin;
    }

    img.disable {
        cursor: default;
        opacity: 0.5;
    }
}

.chart-container {
    padding-left: 0 !important;
    overflow-x: scroll;

    .chart {
        height: 50vh !important;

        .recharts-legend-wrapper {
            margin-left: $base-margin * 2;
        }
        
        .custom-tooltip {
            background-color: rgba(255, 255, 255, 0.7);
            padding: $base-padding;
            border-radius: $b-radius-1;

            .date, .time {
                font-weight: 600;
            }

            p {
                margin-bottom: 0;
            }
        }
    }

}