a {
    margin: auto;
    .study-btn {
        @include main-center-btn;
    }
}

.current-item {
    text-align: center;
    font-weight: 800;
    color: $c-1;
    background-color: white;
    border-radius: $b-radius-1;
    padding: 5px !important;
    width: 30%;
    margin: auto;

    p {
        margin: 0;
    }
}

.question-and-answer {
    .statement {
        @include dropshadow-1;
        background-color: white;
        padding: $base-padding;
        border-radius: $b-radius-1;
        height: 50vh;
        margin-bottom: $base-margin;
        font-size: $font-r-5;
        font-weight: 700;
        color: $text-2;
    }
}