a {
    margin: auto;
    .study-btn {
        @include main-center-btn;
    }
}

.current-item {
    text-align: center;
    font-weight: 800;
    color: $c-1;
    background-color: white;
    border-radius: $b-radius-1;
    padding: 5px !important;
    width: 30%;
    margin: auto;

    p {
        margin: 0;
    }
}

div.timer {
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: -20px;
    text-align: end;
    font-weight: 600;
    color: $text-2;

    .hours::after {
        content: ':';
    }
    
    .minutes::after {
        content: ':';
    }

    .hours, .minutes, .seconds {
        font-family: 'Roboto Mono', monospace;
    }
}

.exit {
    @include toggle;
    position: absolute;
    top: 40px;
    font-weight: 600;
    color: $text-2;
    img {
        height: 20px;
        margin-right: $base-margin / 3;
    }
}

.question-and-answer {
    .statement {
        @include dropshadow-1;
        background-color: white;
        padding: $base-padding;
        border-radius: $b-radius-1;
        height: 50vh;
        margin-bottom: $base-margin;
        font-size: $font-r-5;
        font-weight: 700;
        color: $text-2;
    }

    .final-answer {
        position: relative;
        background-color: white;
        color: $text-2;
        padding: 6px 12px;
        border-radius: $b-radius-1;

        .answer {
            max-width: 92%;
            overflow-x: auto;
        }

        img {
            position: absolute;
            top: 5px;
            right: 5px;
            height: 25px;
            width: auto;
        }

        
    }

    .final-answer.correct {
        outline: 5px solid rgba(119, 255, 119, 0.5);
    }

    .final-answer.wrong {
        outline: 5px solid rgba(255, 119, 119, 0.5);
    }

    .correct-answer {
        margin-top: $base-margin;
        position: relative;
        p {
            margin-bottom: $base-margin / 2;
        }

        .case-sensitive {
            position: absolute;
            right: 0;
            top: 0;
            color: $text-2;
        }

        .display-answers {
            display: flex;
            column-gap: 5px;
            overflow-x: auto;
            padding: $base-padding;
            padding-left: 0;

            span {
                background-color: white;
                padding: ($base-padding / 3) $base-padding;
                border-radius: $b-radius-1;
                border: 1px solid $text-2;
                text-wrap: nowrap;
            }
        }

        hr {
            margin-top: 0;
        }
    }

    .buttons {
        position: absolute;
        width: 100%;
        left: 0;
        bottom: $base-margin * 2;
        display: flex;
        justify-content: center;

        button {
            font-weight: 500;
            width: 50%;
        }
    }
}