a {
    margin: auto;
    .study-btn {
        @include main-center-btn;
    }
}

.current-item {
    text-align: center;
    font-weight: 800;
    color: $c-1;
    background-color: white;
    border-radius: $b-radius-1;
    padding: 5px !important;
    width: 30%;
    margin: auto;

    p {
        margin: 0;
    }
}

div.timer {
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: -20px;
    text-align: end;
    font-weight: 600;
    color: $text-2;

    .hours::after {
        content: ':';
    }
    
    .minutes::after {
        content: ':';
    }

    .hours, .minutes, .seconds {
        font-family: 'Roboto Mono', monospace;
    }
}

.exit {
    @include toggle;
    position: absolute;
    top: 40px;
    font-weight: 600;
    color: $text-2;
    img {
        height: 20px;
        margin-right: $base-margin / 3;
    }
}

.question-and-answer {
    .statement {
        @include dropshadow-1;
        background-color: white;
        padding: $base-padding;
        border-radius: $b-radius-1;
        height: 50vh;
        margin-bottom: $base-margin;
        font-size: $font-r-5;
        font-weight: 700;
        color: $text-2;
    }

    .final-answer {
        position: relative;
        background-color: white;
        color: $text-2;
        padding: 6px 12px;
        border-radius: $b-radius-1;

        .answer {
            max-width: 92%;
            overflow-x: auto;
        }

        img {
            position: absolute;
            top: 5px;
            right: 5px;
            height: 25px;
            width: auto;
        }

        
    }

    .final-answer.correct {
        outline: 5px solid $correct-outline;
    }

    .final-answer.wrong {
        outline: 5px solid $wrong-outline;
    }

    .correct-answer {
        margin-top: $base-margin;
        position: relative;
        p {
            margin-bottom: $base-margin / 2;
        }

        .case-sensitive {
            position: absolute;
            right: 0;
            top: 0;
            color: $text-2;
        }

        .display-answers {
            display: flex;
            column-gap: 5px;
            overflow-x: auto;
            padding: $base-padding;
            padding-left: 0;

            span {
                background-color: white;
                padding: ($base-padding / 3) $base-padding;
                border-radius: $b-radius-1;
                border: 1px solid $text-2;
                text-wrap: nowrap;
            }
        }

        hr {
            margin-top: 0;
        }
    }

    .buttons {
        position: absolute;
        width: 100%;
        left: 0;
        bottom: $base-margin * 2;
        display: flex;
        justify-content: center;

        button {
            font-weight: 500;
            width: 50%;
        }
    }
}

.summary {
    text-align: center;
    h1 {
        color: $c-3;
        margin-bottom: 0;
    }

    h2 {
        color: $text-2;
        font-size: $font-r-1;
    }

    .result {
        position: relative;
        margin-top: $base-margin * 4;
    }

    .result.high {
        .percent {
            color: $correct;
            box-shadow: 0 3px 2px rgba(0, 0, 0, 0.1), 0 0 20px $correct-outline, 0 0 50px $correct-outline;
        }
    }

    .result.low {
        .percent {
            color: $wrong;
            box-shadow: 0 3px 2px rgba(0, 0, 0, 0.1), 0 0 20px $wrong-outline, 0 0 50px $wrong-outline;
        }
    }

    .result.mid {
        .percent {
            color: $mid;
            box-shadow: 0 3px 2px rgba(0, 0, 0, 0.1), 0 0 20px $mid-outline, 0 0 50px $mid-outline;
        }
    }

    .percent {
        @include dropshadow-1;
        font-weight: 800;
        background-color: white;
        width: 200px;
        height: 200px;
        padding: 4rem 2rem;
        border-radius: 50%;
        margin: auto;
    }
    .percent span:first-child {
        font-size: 3rem;
    }

    .score {
        position: relative;
        bottom: 60px;
        line-height: 1rem;
        p {
            margin: 0;
            color: $text-2;
            font-weight: 600;
        }
    }

    .elapsed-time {
        margin-top: $base-margin * 2;

        p {
            color: $text-2;
            margin-bottom: 0;
        }

        span {
            font-size: $font-r-5;
            font-weight: 800;
            color: $c-1;
        }
    }

    button {
        position: relative;
        bottom: -30vh;
        width: 100px;
    }
}