@mixin btn {
    @include toggle;
    padding: $base-padding;
    border-radius: $b-radius-1;
    border: none;
    font-weight: 800;
};

@mixin btn-hover-1($bg-color) {
    &:hover {
        background-color: mix(black, $bg-color, 2%);
        filter: drop-shadow(0 3px 2px rgba(0, 0, 0, 0.1));
        color: $text-3
    }
};

@mixin btn-hover-2 {
    &:hover {
        background-color: $c-2;
        filter: drop-shadow(0 3px 2px rgba(0, 0, 0, 0.1));
        color: white
    }
};

@mixin main-center-btn {
    @include btn-hover-1(white);
    background-color: white;
    color: $text-3;
}

.center-btn {
    @include btn;
    margin: auto;
    margin-top: $base-margin * 5;
}


.opt-btn {
    @include btn;
    @include boxshadow-1;
    @include btn-hover-2;
    text-align: center;
    display: block;
    width: 60%;
    margin: auto;
    margin-bottom: $base-margin;
    background-color: white;
    color: $text-3;
}

.add-items {
    @include toggle;
    position: absolute;
    top: 6px;
    left: 10px;
    border: none;
    background-color: transparent;
    img {
        height: 30px;
        width: 30px;
    }
}

.edit-btn {
    @include toggle;
    position: absolute;
    right: 10px;
}

.edit-multiple-btn {
    position: absolute;
    right: 30px;
    top: 30px;

    @include md {
        right: 50px;
    }

    @include lg {
        right: 160px;
    }
}