.add-items-modal,
.edit-items-modal {
    .modal-dialog {
        .modal-content {
            @include md {
                border-radius: $b-radius-1;
                width: 80vw;
                height: 95vh;
                margin: $base-margin auto;
            }

            .modal-title {
                color: $c-2;
            }

            .modal-body {
                background-color: $bg-5;
                overflow: hidden;
                @include lg {
                    padding: 2rem 5rem;
                }
            }

            .add-items-container,
            .edit-items-container {

                .current-set {
                    position: relative;

                    img {
                        @include toggle;
                        position: absolute;
                        right: 0;
                    }
                }
                .itemNo {
                    font-weight: 900;
                    color: $text-2;
                }
                .navigation {
                    position: relative;
                    p {
                        text-align: center;
                        font-weight: 800;
                        margin: -1rem 0;
                    }
                    img {
                        position: absolute;
                        top: 2px;
                        @include dropshadow-1;
                        @include toggle;
                    }

                    img[alt="next"] {
                        right: 100px;

                        @include md {
                            right: 200px;
                        }

                        @include lg {
                            right: 400px;
                        }
                    }

                    img[alt="previous"] {
                        left: 100px;

                        @include md {
                            left: 200px;
                        }

                        @include lg {
                            left: 400px;
                        }
                    }
                }
                
                ul {
                    height: 500px;
                    border: 1px solid $c-1;
                    padding: $base-padding;
                    border-radius: $b-radius-1;

                    @include md {
                        height: 60vh;
                        padding: $base-padding * 2;
                    }

                    @include lg {
                        height: 54vh;
                    }
                }

                .fill-in-the-blanks li {
                    @include lg {
                        display: flex;
                        justify-content: space-between;
                    }

                    .statement {
                        @include lg {
                            display: inline-block !important;
                            width: 49%;
                        }
                    }
                }

                @mixin item-slide {
                    transition: transform 0.5s ease-in-out;
                }

                @keyframes left-out {
                    0% {
                        transform: translateY(-103.1%)
                    }
                    100% {
                        transform: translate(-110%, -103.1%);
                    }
                }

                @keyframes left-in {
                    0% {
                        transform: translateX(110%)
                    }
                    100% {
                        transform: translateX(0%);
                    }
                }

                @keyframes right-out {
                    0% {
                        transform: translateY(0%)
                    }
                    100% {
                        transform: translate(110%, 0%);
                    }
                }

                @keyframes right-in {
                    0% {
                        transform: translate(-110%,-103.1%)
                    }
                    100% {
                        transform: translate(0%, -103.1%);
                    }
                }

                .slide-left-out {
                    animation: left-out 0.5s ease-in-out;
                }

                .slide-left-in {
                    animation: left-in 0.5s ease-in-out;
                }
                
                .slide-right-out {
                    animation: right-out 0.5s ease-in-out;
                }
  
                .slide-right-in {
                    animation: right-in 0.5s ease-in-out;
                }

                label {
                    font-weight: 600;
                    color: $text-2;
                }
                .input-info {
                    font-size: $font-s-3;
                    margin-bottom: 0;
                }
                .statement {
                    position: relative;
                }
                .multiple-answers {
                    height: 150px;
                    overflow-y: scroll !important;
                    .blank-input {
                        display: flex;
                        margin-bottom: $base-margin;
    
                        span {
                            display: inline-block;
                            padding: 10px;
                            border-radius: $b-radius-1 0 0 $b-radius-1;
                            width: 40px;
                            font-weight: 800;
                            background-color: $bg-1;
                            color: $text-2;
                        }
                        input {
                            border-radius: 0 $b-radius-1 $b-radius-1 0;     
                            border-width: 0;                   
                        }
                    }

                    @include md {
                        height: 42vh;
                    }

                    @include lg {
                        height: 40vh;
                    }
                }
                .answer {
                    display: inline-block;
                }
                .case-sensitive {
                    position: absolute;
                    top: 0;
                    right: 0;
                }
                .case-sensitive label {
                    font-weight: 400;
                }
                textarea {
                    height: 300px;
                    resize: none;
                    margin-bottom: $base-margin;

                    @include md {
                        height: 400px;
                    }

                    @include lg {
                        height: 200px;
                    }

                    &.fill-in-the-blanks {
                        height: 200px;

                        @include lg {
                            height: 40vh;
                        }
                    }
                }

                .item-btns {
                    margin: auto;
                    margin-top: $base-margin * 2;
                    top: 550px;
                    width: 80%;
                    display: flex;
                    justify-content: space-between;

                    @include md {
                        margin-top: $base-margin * 2
                    }

                    @include lg {
                        margin-top: $base-margin;
                        margin-left: auto;
                        margin-right: 0;
                        margin-bottom: 0;
                        width: 40%;
                    }

                    button {
                        @include toggle;
                        border-radius: $b-radius-round;
                        @include md {
                            width: 49%;
                        }
                        @include lg {
                            margin-left: auto;
                        }
                    }
                    button:first-child {
                        margin-bottom: $base-margin;
                        @include md {
                            margin-bottom: 0;
                        }
                    }
                }
            }

            .edit-items-container {

                ul {
                    height: 63vh;

                    &.fill-in-the-blanks {
                        textarea {
                            height: 190px;
                        }

                        .multiple-answers {
                            height: 230px;

                            @include md {
                                height: 28vh;
                            }
                        }
                    }

                    @include md {
                        height: 62vh;
                    }

                    @include lg {
                        height: 55vh;
                    }
                }

                textarea {
                    height: 390px;
                    resize: none;
                    margin-bottom: $base-margin;

                    @include md {
                        height: 430px;
                    }

                    @include lg {
                        height: 250px;
                    }
                }

                .fill-in-the-blanks {
                    
                    textarea {
                        @include md {
                            height: 23vh !important;
                        }

                        @include lg {
                            height: 42vh !important
                        }
                    }

                    .multiple-answers {
                        @include md {
                            height: 22vh !important;
                        }

                        @include lg {
                            height: 42vh !important
                        }
                    }
                }
                
                button {
                    margin-left: auto;
                    margin-right: auto;

                    @include lg {
                        margin-right: 0;
                    }
                }
            }
        }
    }
};