// color palette
$light-bg-1: #f8f8ff;
$light-bg-2: #fffafa;
$light-bg-3: #fff5ee;
$light-bg-4: #f7f5f6;
$light-bg-5: #e5e4e2;
$light-c-1: #164B60;
$light-c-2: #1B6B93;
$light-c-3: #4FC0D0;
$light-c-4: #A2FF86;


// spacing
$base-padding: 1rem;
$base-margin: 1rem;
$line-height: 1.2rem;
$base-gap: 1rem;
$nav-height: 56px;

// Border
$b-radius-1: 10px;

// Font
$font-s-1: 0.75rem;