// color palette
$bg-1: #faf7e6;
$bg-2: #FBEEAC;
$bg-3: #F4D160;
$bg-4: #f7f5f6;
$bg-5: #e5e4e2;
$text-1: #000000;
$text-2: rgb(40, 40, 40);
$text-2: rgb(80, 80, 80);
$c-1: #1D5D9B;
$c-2: #75C2F6;
$c-3: #F4D160;
$c-4: #FBEEAC;


// spacing
$base-padding: 1rem;
$base-margin: 1rem;
$line-height: 1.2rem;
$base-gap: 1rem;
$nav-height: 56px;

// Border
$b-radius-1: 10px;

// Font
$font-s-1: 0.75rem;