/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Lilita+One&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nerko+One&display=swap");
/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif; }

/* HTML - Body properties */
html, body {
  overflow-x: hidden;
  height: 100%; }

h1 {
  font-weight: 900;
  color: #75C2F6;
  line-height: 1.92rem;
  margin-bottom: 2rem; }

h4 {
  font-weight: 600;
  color: #75C2F6; }

p {
  color: #1D5D9B;
  margin-bottom: 1rem; }

a {
  text-decoration: none; }

@keyframes pulse {
  0% {
    transform: scale(1); }
  70% {
    transform: scale(0.9); }
  100% {
    transform: scale(1); } }

.toggle {
  cursor: pointer; }
  .toggle:active {
    animation: pulse 0.3s ease; }

ul {
  padding: 0; }

li {
  list-style-type: none; }

input {
  border-radius: 10px;
  border-color: transparent; }
  input::placeholder {
    font-style: italic;
    margin-left: 10px; }
  input:focus {
    border-color: #FBEEAC !important;
    outline-color: #FBEEAC !important; }

.error-message {
  color: #ff2a00;
  margin-top: 0.33333rem; }

.delete {
  cursor: pointer;
  position: absolute;
  top: -45px;
  font-weight: 700; }
  .delete:active {
    animation: pulse 0.3s ease; }
  .delete p {
    color: #505050; }
  @media (min-width: 768px) {
    .delete {
      top: -45px; } }
  @media (min-width: 992px) {
    .delete {
      top: -40px; } }

.sort-control {
  position: absolute;
  top: -50px;
  right: 0; }

.master-checkbox {
  position: absolute; }

.items-to-be-deleted {
  list-style-type: disc;
  margin-left: 1rem;
  font-weight: 700; }

.delete-warning-txt {
  color: #505050; }

.main-container {
  background-color: #faf7e6;
  min-height: calc(100vh - 56px); }
  .main-container > div {
    padding: 2rem; }
  @media (min-width: 768px) {
    .main-container > div {
      padding: 3rem; } }
  @media (min-width: 992px) {
    .main-container > div {
      padding-left: 10rem;
      padding-right: 10rem; } }

.navbar {
  padding: 1rem 2rem;
  background-color: #faf7e6; }
  .navbar a {
    font-weight: 800;
    color: #75C2F6; }

.feature-container {
  height: calc(100vh - 269px - 56px);
  position: relative;
  background-color: #F4D160; }
  @media (min-width: 768px) {
    .feature-container {
      height: calc(100vh - 246.71px - 56px); } }
  @media (min-width: 992px) {
    .feature-container {
      height: calc(100vh - 220px - 56px); } }

.feature-container.expand {
  position: relative;
  background-color: #F4D160;
  height: calc(100vh - 56px); }

.expand-toggle {
  position: relative;
  margin-top: -1rem;
  margin-bottom: 1rem; }
  .expand-toggle img {
    cursor: pointer;
    display: block;
    margin-left: auto; }
    .expand-toggle img:active {
      animation: pulse 0.3s ease; }
  @media (min-width: 768px) {
    .expand-toggle {
      position: absolute;
      right: 4rem; } }

.hr-left {
  border: solid 4px #FBEEAC;
  border-radius: 5px;
  opacity: 1;
  width: 40%; }

.prefooter > div:not(:last-child), .prefooter .row div:not(:last-child) {
  margin-bottom: 1rem; }

.prefooter {
  background-color: #f7f5f6;
  text-align: center;
  padding: 2rem 0; }
  .prefooter p {
    margin-bottom: 0; }
  .prefooter img {
    height: 1rem;
    width: auto;
    margin-right: 5px; }

footer {
  color: #1D5D9B;
  background-color: white;
  padding: 1rem;
  font-size: 0.75rem;
  line-height: 0.15rem;
  font-weight: 700;
  text-align: center; }
  footer hr {
    border: solid 2px #FBEEAC;
    border-radius: 5px;
    opacity: 1;
    margin: 0 auto;
    width: 50%; }

.center-btn {
  cursor: pointer;
  padding: 1rem;
  border-radius: 10px;
  border: none;
  font-weight: 800;
  margin: auto;
  margin-top: 5rem; }
  .center-btn:active {
    animation: pulse 0.3s ease; }

.opt-btn-1 {
  cursor: pointer;
  padding: 1rem;
  border-radius: 10px;
  border: none;
  font-weight: 800;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: block;
  width: 60%;
  margin: auto;
  background-color: white;
  color: #505050; }
  .opt-btn-1:active {
    animation: pulse 0.3s ease; }
  .opt-btn-1:hover {
    background-color: #75C2F6;
    filter: drop-shadow(0 3px 2px rgba(0, 0, 0, 0.1));
    color: white; }

.create-study-set {
  background-color: white;
  color: #505050; }
  .create-study-set:hover {
    background-color: #fafafa;
    filter: drop-shadow(0 3px 2px rgba(0, 0, 0, 0.1));
    color: #505050; }

.study-table {
  position: relative; }
  .study-table .study-table-container {
    max-height: 70vh;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 10px;
    margin-top: 2rem; }
    @media (min-width: 768px) {
      .study-table .study-table-container {
        max-height: 70vh; } }
    @media (min-width: 992px) {
      .study-table .study-table-container {
        max-height: 65vh; } }
    .study-table .study-table-container .setName {
      width: 50% !important;
      vertical-align: middle;
      padding-left: 1rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
      .study-table .study-table-container .setName span:first-child {
        margin-right: 1rem; }
      .study-table .study-table-container .setName span:nth-child(2) {
        width: 10px; }
      .study-table .study-table-container .setName span {
        display: inline-block; }
      .study-table .study-table-container .setName .edit-btn {
        cursor: pointer;
        display: none;
        position: relative;
        left: 85px; }
        .study-table .study-table-container .setName .edit-btn:active {
          animation: pulse 0.3s ease; }
        @media (min-width: 768px) {
          .study-table .study-table-container .setName .edit-btn {
            left: 230px; } }
        @media (min-width: 992px) {
          .study-table .study-table-container .setName .edit-btn {
            left: 520px; } }
    .study-table .study-table-container .createdOn {
      font-size: 0.75rem;
      vertical-align: middle; }
      .study-table .study-table-container .createdOn p {
        margin: 0;
        text-align: center; }
    .study-table .study-table-container .items {
      text-align: center;
      vertical-align: middle;
      position: relative;
      font-weight: 800;
      color: #1D5D9B; }
      @media (min-width: 992px) {
        .study-table .study-table-container .items {
          width: 30%;
          text-align: center; } }
      .study-table .study-table-container .items span {
        display: inline-block; }
      .study-table .study-table-container .items div {
        display: none;
        position: absolute;
        right: 0;
        top: 0;
        width: 280%;
        height: 100%;
        justify-content: space-around;
        align-items: center;
        background-color: white; }
        .study-table .study-table-container .items div button {
          padding: 5px 10px;
          font-size: 0.85rem;
          height: 35px;
          border-radius: 10px;
          border: transparent;
          color: white;
          text-shadow: 0 0 3px #6f6f6f;
          font-weight: 600; }
          @media (min-width: 768px) {
            .study-table .study-table-container .items div button {
              width: 100px;
              font-size: 1rem; } }
          @media (min-width: 992px) {
            .study-table .study-table-container .items div button {
              width: auto;
              margin: 10px; } }
        .study-table .study-table-container .items div .view {
          background-color: #70ecff; }
        .study-table .study-table-container .items div .add {
          background-color: #eeff70; }
        .study-table .study-table-container .items div .study {
          background-color: #70ff70; }
        @media (min-width: 992px) {
          .study-table .study-table-container .items div {
            display: inline-block;
            position: relative;
            width: auto;
            background-color: transparent; } }
    .study-table .study-table-container thead {
      position: sticky;
      top: 0;
      z-index: 1;
      text-align: center;
      vertical-align: middle; }
      .study-table .study-table-container thead th {
        color: #505050; }
    .study-table .study-table-container th:first-child {
      border-radius: 10px 0 0 0; }
    .study-table .study-table-container th:last-child {
      border-radius: 0 10px 0 0; }
    .study-table .study-table-container tbody tr {
      border: transparent; }
      .study-table .study-table-container tbody tr:hover div {
        display: flex; }
        @media (min-width: 992px) {
          .study-table .study-table-container tbody tr:hover div {
            display: inline-block; } }
      .study-table .study-table-container tbody tr:hover .edit-btn {
        display: inline-block; }
    .study-table .study-table-container tbody tr:last-child td:first-child {
      border-radius: 0 0 0 10px; }
    .study-table .study-table-container tbody tr:last-child td:last-child {
      border-radius: 0 0 10px 0; }
    .study-table .study-table-container tbody .lg {
      display: none; }
      @media (min-width: 768px) {
        .study-table .study-table-container tbody .lg {
          display: block; } }
    @media (min-width: 768px) {
      .study-table .study-table-container tbody .sm {
        display: none; } }

.main-panel .addNewSet {
  position: absolute;
  width: 100%;
  height: 65px;
  left: 0;
  bottom: 3rem;
  display: flex;
  justify-self: center; }
  .main-panel .addNewSet button {
    margin-top: 0; }
