/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Lilita+One&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nerko+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;600&display=swap");
/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif; }

/* HTML - Body properties */
html, body {
  overflow-x: hidden;
  height: 100%; }

h1 {
  font-weight: 900;
  color: #75C2F6;
  line-height: 1.92rem;
  margin-bottom: 2rem; }

h4 {
  font-weight: 600;
  color: #75C2F6; }

p {
  color: #1D5D9B;
  margin-bottom: 1rem; }

a {
  text-decoration: none; }

@keyframes pulse {
  0% {
    transform: scale(1); }
  70% {
    transform: scale(0.9); }
  100% {
    transform: scale(1); } }

.toggle {
  cursor: pointer; }
  .toggle:active {
    animation: pulse 0.3s ease; }

ul {
  padding: 0; }

li {
  list-style-type: none; }

input {
  border-radius: 10px;
  border-color: transparent; }
  input::placeholder {
    font-style: italic;
    margin-left: 10px; }
  input:focus {
    border-color: #FBEEAC !important;
    outline-color: #FBEEAC !important; }

.error-message {
  color: #ff2a00;
  margin-top: 0.33333rem; }

.delete {
  cursor: pointer;
  position: absolute;
  top: -45px;
  font-weight: 700; }
  .delete:active {
    animation: pulse 0.3s ease; }
  .delete p {
    color: #505050; }
  @media (min-width: 992px) {
    .delete {
      top: -40px; } }

.sort-control {
  position: absolute;
  top: -50px;
  right: 0; }

.master-checkbox {
  position: absolute; }

.items-to-be-deleted {
  list-style-type: disc;
  margin-left: 1rem;
  font-weight: 700; }

.delete-warning-txt {
  color: #505050; }

.main-container {
  background-color: #faf7e6;
  min-height: calc(100vh - 56px); }
  .main-container h1.setName {
    padding: 0 2rem;
    margin-bottom: 0;
    color: #1D5D9B;
    font-size: 1.2rem; }
    @media (min-width: 768px) {
      .main-container h1.setName {
        padding: 0 3rem; } }
    @media (min-width: 992px) {
      .main-container h1.setName {
        padding: 0 5rem; } }
    .main-container h1.setName + hr {
      width: 90%;
      margin: 5px auto; }
  .main-container > div {
    padding: 2rem; }
  @media (min-width: 768px) {
    .main-container > div {
      padding: 3rem; } }
  @media (min-width: 992px) {
    .main-container > div {
      padding-left: 10rem;
      padding-right: 10rem; } }

.navbar {
  padding: 1rem 2rem;
  background-color: #faf7e6; }
  .navbar a {
    font-weight: 800;
    color: #75C2F6;
    margin-left: 0; }

.feature-container {
  height: calc(100vh - 269px - 56px);
  position: relative;
  background-color: #F4D160; }
  @media (min-width: 768px) {
    .feature-container {
      height: calc(100vh - 246.71px - 56px); } }
  @media (min-width: 992px) {
    .feature-container {
      height: calc(100vh - 220px - 56px); } }

.feature-container.expand {
  position: relative;
  background-color: #F4D160;
  height: calc(100vh - 56px); }

.expand-toggle {
  position: relative;
  margin-top: -1rem;
  margin-bottom: 1rem; }
  .expand-toggle img {
    cursor: pointer;
    display: block;
    margin-left: auto; }
    .expand-toggle img:active {
      animation: pulse 0.3s ease; }
  @media (min-width: 768px) {
    .expand-toggle {
      position: absolute;
      right: 4rem; } }

.hr-left {
  border: solid 4px #FBEEAC;
  border-radius: 5px;
  opacity: 1;
  width: 40%; }

.prefooter > div:not(:last-child), .prefooter .row div:not(:last-child) {
  margin-bottom: 1rem; }

.prefooter {
  background-color: #f7f5f6;
  text-align: center;
  padding: 2rem 0; }
  .prefooter p {
    margin-bottom: 0; }
  .prefooter img {
    height: 1rem;
    width: auto;
    margin-right: 5px; }

footer {
  color: #1D5D9B;
  background-color: white;
  padding: 1rem;
  font-size: 0.75rem;
  line-height: 0.15rem;
  font-weight: 700;
  text-align: center; }
  footer hr {
    border: solid 2px #FBEEAC;
    border-radius: 5px;
    opacity: 1;
    margin: 0 auto;
    width: 50%; }

.center-btn {
  cursor: pointer;
  padding: 1rem;
  border-radius: 10px;
  border: none;
  font-weight: 800;
  margin: auto;
  margin-top: 5rem; }
  .center-btn:active {
    animation: pulse 0.3s ease; }

.opt-btn {
  cursor: pointer;
  padding: 1rem;
  border-radius: 10px;
  border: none;
  font-weight: 800;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: block;
  width: 60%;
  margin: auto;
  margin-bottom: 1rem;
  background-color: white;
  color: #505050; }
  .opt-btn:active {
    animation: pulse 0.3s ease; }
  .opt-btn:hover {
    background-color: #75C2F6;
    filter: drop-shadow(0 3px 2px rgba(0, 0, 0, 0.1));
    color: white; }

.add-items {
  cursor: pointer;
  position: absolute;
  top: 6px;
  left: 10px;
  border: none;
  background-color: transparent; }
  .add-items:active {
    animation: pulse 0.3s ease; }
  .add-items img {
    height: 30px;
    width: 30px; }

.edit-btn {
  cursor: pointer;
  position: absolute;
  right: 10px; }
  .edit-btn:active {
    animation: pulse 0.3s ease; }

.edit-multiple-btn {
  position: absolute;
  right: 30px;
  top: 30px; }
  @media (min-width: 768px) {
    .edit-multiple-btn {
      right: 50px; } }
  @media (min-width: 992px) {
    .edit-multiple-btn {
      right: 160px; } }

@media (min-width: 768px) {
  .add-items-modal .modal-dialog .modal-content,
  .edit-items-modal .modal-dialog .modal-content {
    border-radius: 10px;
    width: 80vw;
    height: 95vh;
    margin: 1rem auto; } }

.add-items-modal .modal-dialog .modal-content .modal-title,
.edit-items-modal .modal-dialog .modal-content .modal-title {
  color: #75C2F6; }

.add-items-modal .modal-dialog .modal-content .modal-body,
.edit-items-modal .modal-dialog .modal-content .modal-body {
  background-color: #e5e4e2;
  overflow: hidden; }
  @media (min-width: 992px) {
    .add-items-modal .modal-dialog .modal-content .modal-body,
    .edit-items-modal .modal-dialog .modal-content .modal-body {
      padding: 2rem 5rem; } }

.add-items-modal .modal-dialog .modal-content .add-items-container .current-set,
.add-items-modal .modal-dialog .modal-content .edit-items-container .current-set,
.edit-items-modal .modal-dialog .modal-content .add-items-container .current-set,
.edit-items-modal .modal-dialog .modal-content .edit-items-container .current-set {
  position: relative; }
  .add-items-modal .modal-dialog .modal-content .add-items-container .current-set img,
  .add-items-modal .modal-dialog .modal-content .edit-items-container .current-set img,
  .edit-items-modal .modal-dialog .modal-content .add-items-container .current-set img,
  .edit-items-modal .modal-dialog .modal-content .edit-items-container .current-set img {
    cursor: pointer;
    position: absolute;
    right: 0; }
    .add-items-modal .modal-dialog .modal-content .add-items-container .current-set img:active,
    .add-items-modal .modal-dialog .modal-content .edit-items-container .current-set img:active,
    .edit-items-modal .modal-dialog .modal-content .add-items-container .current-set img:active,
    .edit-items-modal .modal-dialog .modal-content .edit-items-container .current-set img:active {
      animation: pulse 0.3s ease; }

.add-items-modal .modal-dialog .modal-content .add-items-container .itemNo,
.add-items-modal .modal-dialog .modal-content .edit-items-container .itemNo,
.edit-items-modal .modal-dialog .modal-content .add-items-container .itemNo,
.edit-items-modal .modal-dialog .modal-content .edit-items-container .itemNo {
  font-weight: 900;
  color: #505050; }

.add-items-modal .modal-dialog .modal-content .add-items-container .navigation,
.add-items-modal .modal-dialog .modal-content .edit-items-container .navigation,
.edit-items-modal .modal-dialog .modal-content .add-items-container .navigation,
.edit-items-modal .modal-dialog .modal-content .edit-items-container .navigation {
  position: relative; }
  .add-items-modal .modal-dialog .modal-content .add-items-container .navigation p,
  .add-items-modal .modal-dialog .modal-content .edit-items-container .navigation p,
  .edit-items-modal .modal-dialog .modal-content .add-items-container .navigation p,
  .edit-items-modal .modal-dialog .modal-content .edit-items-container .navigation p {
    text-align: center;
    font-weight: 800;
    margin: -1rem 0; }
  .add-items-modal .modal-dialog .modal-content .add-items-container .navigation img,
  .add-items-modal .modal-dialog .modal-content .edit-items-container .navigation img,
  .edit-items-modal .modal-dialog .modal-content .add-items-container .navigation img,
  .edit-items-modal .modal-dialog .modal-content .edit-items-container .navigation img {
    position: absolute;
    top: 2px;
    filter: drop-shadow(0 3px 2px rgba(0, 0, 0, 0.1));
    cursor: pointer; }
    .add-items-modal .modal-dialog .modal-content .add-items-container .navigation img:active,
    .add-items-modal .modal-dialog .modal-content .edit-items-container .navigation img:active,
    .edit-items-modal .modal-dialog .modal-content .add-items-container .navigation img:active,
    .edit-items-modal .modal-dialog .modal-content .edit-items-container .navigation img:active {
      animation: pulse 0.3s ease; }
  .add-items-modal .modal-dialog .modal-content .add-items-container .navigation img[alt="next"],
  .add-items-modal .modal-dialog .modal-content .edit-items-container .navigation img[alt="next"],
  .edit-items-modal .modal-dialog .modal-content .add-items-container .navigation img[alt="next"],
  .edit-items-modal .modal-dialog .modal-content .edit-items-container .navigation img[alt="next"] {
    right: 100px; }
    @media (min-width: 768px) {
      .add-items-modal .modal-dialog .modal-content .add-items-container .navigation img[alt="next"],
      .add-items-modal .modal-dialog .modal-content .edit-items-container .navigation img[alt="next"],
      .edit-items-modal .modal-dialog .modal-content .add-items-container .navigation img[alt="next"],
      .edit-items-modal .modal-dialog .modal-content .edit-items-container .navigation img[alt="next"] {
        right: 200px; } }
    @media (min-width: 992px) {
      .add-items-modal .modal-dialog .modal-content .add-items-container .navigation img[alt="next"],
      .add-items-modal .modal-dialog .modal-content .edit-items-container .navigation img[alt="next"],
      .edit-items-modal .modal-dialog .modal-content .add-items-container .navigation img[alt="next"],
      .edit-items-modal .modal-dialog .modal-content .edit-items-container .navigation img[alt="next"] {
        right: 400px; } }
  .add-items-modal .modal-dialog .modal-content .add-items-container .navigation img[alt="previous"],
  .add-items-modal .modal-dialog .modal-content .edit-items-container .navigation img[alt="previous"],
  .edit-items-modal .modal-dialog .modal-content .add-items-container .navigation img[alt="previous"],
  .edit-items-modal .modal-dialog .modal-content .edit-items-container .navigation img[alt="previous"] {
    left: 100px; }
    @media (min-width: 768px) {
      .add-items-modal .modal-dialog .modal-content .add-items-container .navigation img[alt="previous"],
      .add-items-modal .modal-dialog .modal-content .edit-items-container .navigation img[alt="previous"],
      .edit-items-modal .modal-dialog .modal-content .add-items-container .navigation img[alt="previous"],
      .edit-items-modal .modal-dialog .modal-content .edit-items-container .navigation img[alt="previous"] {
        left: 200px; } }
    @media (min-width: 992px) {
      .add-items-modal .modal-dialog .modal-content .add-items-container .navigation img[alt="previous"],
      .add-items-modal .modal-dialog .modal-content .edit-items-container .navigation img[alt="previous"],
      .edit-items-modal .modal-dialog .modal-content .add-items-container .navigation img[alt="previous"],
      .edit-items-modal .modal-dialog .modal-content .edit-items-container .navigation img[alt="previous"] {
        left: 400px; } }

.add-items-modal .modal-dialog .modal-content .add-items-container ul,
.add-items-modal .modal-dialog .modal-content .edit-items-container ul,
.edit-items-modal .modal-dialog .modal-content .add-items-container ul,
.edit-items-modal .modal-dialog .modal-content .edit-items-container ul {
  height: 500px;
  border: 1px solid #1D5D9B;
  padding: 1rem;
  border-radius: 10px; }
  @media (min-width: 768px) {
    .add-items-modal .modal-dialog .modal-content .add-items-container ul,
    .add-items-modal .modal-dialog .modal-content .edit-items-container ul,
    .edit-items-modal .modal-dialog .modal-content .add-items-container ul,
    .edit-items-modal .modal-dialog .modal-content .edit-items-container ul {
      height: 60vh;
      padding: 2rem; } }
  @media (min-width: 992px) {
    .add-items-modal .modal-dialog .modal-content .add-items-container ul,
    .add-items-modal .modal-dialog .modal-content .edit-items-container ul,
    .edit-items-modal .modal-dialog .modal-content .add-items-container ul,
    .edit-items-modal .modal-dialog .modal-content .edit-items-container ul {
      height: 54vh; } }

@media (min-width: 992px) {
  .add-items-modal .modal-dialog .modal-content .add-items-container .fill-in-the-blanks li,
  .add-items-modal .modal-dialog .modal-content .edit-items-container .fill-in-the-blanks li,
  .edit-items-modal .modal-dialog .modal-content .add-items-container .fill-in-the-blanks li,
  .edit-items-modal .modal-dialog .modal-content .edit-items-container .fill-in-the-blanks li {
    display: flex;
    justify-content: space-between; } }

@media (min-width: 992px) {
  .add-items-modal .modal-dialog .modal-content .add-items-container .fill-in-the-blanks li .statement,
  .add-items-modal .modal-dialog .modal-content .edit-items-container .fill-in-the-blanks li .statement,
  .edit-items-modal .modal-dialog .modal-content .add-items-container .fill-in-the-blanks li .statement,
  .edit-items-modal .modal-dialog .modal-content .edit-items-container .fill-in-the-blanks li .statement {
    display: inline-block !important;
    width: 49%; } }

@keyframes left-out {
  0% {
    transform: translateY(-103.1%); }
  100% {
    transform: translate(-110%, -103.1%); } }

@keyframes left-in {
  0% {
    transform: translateX(110%); }
  100% {
    transform: translateX(0%); } }

@keyframes right-out {
  0% {
    transform: translateY(0%); }
  100% {
    transform: translate(110%, 0%); } }

@keyframes right-in {
  0% {
    transform: translate(-110%, -103.1%); }
  100% {
    transform: translate(0%, -103.1%); } }

.add-items-modal .modal-dialog .modal-content .add-items-container .slide-left-out,
.add-items-modal .modal-dialog .modal-content .edit-items-container .slide-left-out,
.edit-items-modal .modal-dialog .modal-content .add-items-container .slide-left-out,
.edit-items-modal .modal-dialog .modal-content .edit-items-container .slide-left-out {
  animation: left-out 0.5s ease-in-out; }

.add-items-modal .modal-dialog .modal-content .add-items-container .slide-left-in,
.add-items-modal .modal-dialog .modal-content .edit-items-container .slide-left-in,
.edit-items-modal .modal-dialog .modal-content .add-items-container .slide-left-in,
.edit-items-modal .modal-dialog .modal-content .edit-items-container .slide-left-in {
  animation: left-in 0.5s ease-in-out; }

.add-items-modal .modal-dialog .modal-content .add-items-container .slide-right-out,
.add-items-modal .modal-dialog .modal-content .edit-items-container .slide-right-out,
.edit-items-modal .modal-dialog .modal-content .add-items-container .slide-right-out,
.edit-items-modal .modal-dialog .modal-content .edit-items-container .slide-right-out {
  animation: right-out 0.5s ease-in-out; }

.add-items-modal .modal-dialog .modal-content .add-items-container .slide-right-in,
.add-items-modal .modal-dialog .modal-content .edit-items-container .slide-right-in,
.edit-items-modal .modal-dialog .modal-content .add-items-container .slide-right-in,
.edit-items-modal .modal-dialog .modal-content .edit-items-container .slide-right-in {
  animation: right-in 0.5s ease-in-out; }

.add-items-modal .modal-dialog .modal-content .add-items-container label,
.add-items-modal .modal-dialog .modal-content .edit-items-container label,
.edit-items-modal .modal-dialog .modal-content .add-items-container label,
.edit-items-modal .modal-dialog .modal-content .edit-items-container label {
  font-weight: 600;
  color: #505050; }

.add-items-modal .modal-dialog .modal-content .add-items-container .input-info,
.add-items-modal .modal-dialog .modal-content .edit-items-container .input-info,
.edit-items-modal .modal-dialog .modal-content .add-items-container .input-info,
.edit-items-modal .modal-dialog .modal-content .edit-items-container .input-info {
  font-size: 0.85rem;
  margin-bottom: 0; }

.add-items-modal .modal-dialog .modal-content .add-items-container .statement,
.add-items-modal .modal-dialog .modal-content .edit-items-container .statement,
.edit-items-modal .modal-dialog .modal-content .add-items-container .statement,
.edit-items-modal .modal-dialog .modal-content .edit-items-container .statement {
  position: relative; }

.add-items-modal .modal-dialog .modal-content .add-items-container .multiple-answers,
.add-items-modal .modal-dialog .modal-content .edit-items-container .multiple-answers,
.edit-items-modal .modal-dialog .modal-content .add-items-container .multiple-answers,
.edit-items-modal .modal-dialog .modal-content .edit-items-container .multiple-answers {
  height: 150px;
  overflow-y: scroll !important; }
  .add-items-modal .modal-dialog .modal-content .add-items-container .multiple-answers .blank-input,
  .add-items-modal .modal-dialog .modal-content .edit-items-container .multiple-answers .blank-input,
  .edit-items-modal .modal-dialog .modal-content .add-items-container .multiple-answers .blank-input,
  .edit-items-modal .modal-dialog .modal-content .edit-items-container .multiple-answers .blank-input {
    display: flex;
    margin-bottom: 1rem; }
    .add-items-modal .modal-dialog .modal-content .add-items-container .multiple-answers .blank-input span,
    .add-items-modal .modal-dialog .modal-content .edit-items-container .multiple-answers .blank-input span,
    .edit-items-modal .modal-dialog .modal-content .add-items-container .multiple-answers .blank-input span,
    .edit-items-modal .modal-dialog .modal-content .edit-items-container .multiple-answers .blank-input span {
      display: inline-block;
      padding: 10px;
      border-radius: 10px 0 0 10px;
      width: 40px;
      font-weight: 800;
      background-color: #faf7e6;
      color: #505050; }
    .add-items-modal .modal-dialog .modal-content .add-items-container .multiple-answers .blank-input input,
    .add-items-modal .modal-dialog .modal-content .edit-items-container .multiple-answers .blank-input input,
    .edit-items-modal .modal-dialog .modal-content .add-items-container .multiple-answers .blank-input input,
    .edit-items-modal .modal-dialog .modal-content .edit-items-container .multiple-answers .blank-input input {
      border-radius: 0 10px 10px 0;
      border-width: 0; }
  @media (min-width: 768px) {
    .add-items-modal .modal-dialog .modal-content .add-items-container .multiple-answers,
    .add-items-modal .modal-dialog .modal-content .edit-items-container .multiple-answers,
    .edit-items-modal .modal-dialog .modal-content .add-items-container .multiple-answers,
    .edit-items-modal .modal-dialog .modal-content .edit-items-container .multiple-answers {
      height: 42vh; } }
  @media (min-width: 992px) {
    .add-items-modal .modal-dialog .modal-content .add-items-container .multiple-answers,
    .add-items-modal .modal-dialog .modal-content .edit-items-container .multiple-answers,
    .edit-items-modal .modal-dialog .modal-content .add-items-container .multiple-answers,
    .edit-items-modal .modal-dialog .modal-content .edit-items-container .multiple-answers {
      height: 40vh; } }

.add-items-modal .modal-dialog .modal-content .add-items-container .answer,
.add-items-modal .modal-dialog .modal-content .edit-items-container .answer,
.edit-items-modal .modal-dialog .modal-content .add-items-container .answer,
.edit-items-modal .modal-dialog .modal-content .edit-items-container .answer {
  display: inline-block; }

.add-items-modal .modal-dialog .modal-content .add-items-container .case-sensitive,
.add-items-modal .modal-dialog .modal-content .edit-items-container .case-sensitive,
.edit-items-modal .modal-dialog .modal-content .add-items-container .case-sensitive,
.edit-items-modal .modal-dialog .modal-content .edit-items-container .case-sensitive {
  position: absolute;
  top: 0;
  right: 0; }

.add-items-modal .modal-dialog .modal-content .add-items-container .case-sensitive label,
.add-items-modal .modal-dialog .modal-content .edit-items-container .case-sensitive label,
.edit-items-modal .modal-dialog .modal-content .add-items-container .case-sensitive label,
.edit-items-modal .modal-dialog .modal-content .edit-items-container .case-sensitive label {
  font-weight: 400; }

.add-items-modal .modal-dialog .modal-content .add-items-container textarea,
.add-items-modal .modal-dialog .modal-content .edit-items-container textarea,
.edit-items-modal .modal-dialog .modal-content .add-items-container textarea,
.edit-items-modal .modal-dialog .modal-content .edit-items-container textarea {
  height: 300px;
  resize: none;
  margin-bottom: 1rem; }
  @media (min-width: 768px) {
    .add-items-modal .modal-dialog .modal-content .add-items-container textarea,
    .add-items-modal .modal-dialog .modal-content .edit-items-container textarea,
    .edit-items-modal .modal-dialog .modal-content .add-items-container textarea,
    .edit-items-modal .modal-dialog .modal-content .edit-items-container textarea {
      height: 400px; } }
  @media (min-width: 992px) {
    .add-items-modal .modal-dialog .modal-content .add-items-container textarea,
    .add-items-modal .modal-dialog .modal-content .edit-items-container textarea,
    .edit-items-modal .modal-dialog .modal-content .add-items-container textarea,
    .edit-items-modal .modal-dialog .modal-content .edit-items-container textarea {
      height: 200px; } }
  .add-items-modal .modal-dialog .modal-content .add-items-container textarea.fill-in-the-blanks,
  .add-items-modal .modal-dialog .modal-content .edit-items-container textarea.fill-in-the-blanks,
  .edit-items-modal .modal-dialog .modal-content .add-items-container textarea.fill-in-the-blanks,
  .edit-items-modal .modal-dialog .modal-content .edit-items-container textarea.fill-in-the-blanks {
    height: 200px; }
    @media (min-width: 992px) {
      .add-items-modal .modal-dialog .modal-content .add-items-container textarea.fill-in-the-blanks,
      .add-items-modal .modal-dialog .modal-content .edit-items-container textarea.fill-in-the-blanks,
      .edit-items-modal .modal-dialog .modal-content .add-items-container textarea.fill-in-the-blanks,
      .edit-items-modal .modal-dialog .modal-content .edit-items-container textarea.fill-in-the-blanks {
        height: 40vh; } }

.add-items-modal .modal-dialog .modal-content .add-items-container .item-btns,
.add-items-modal .modal-dialog .modal-content .edit-items-container .item-btns,
.edit-items-modal .modal-dialog .modal-content .add-items-container .item-btns,
.edit-items-modal .modal-dialog .modal-content .edit-items-container .item-btns {
  margin: auto;
  margin-top: 2rem;
  top: 550px;
  width: 80%;
  display: flex;
  justify-content: space-between; }
  @media (min-width: 768px) {
    .add-items-modal .modal-dialog .modal-content .add-items-container .item-btns,
    .add-items-modal .modal-dialog .modal-content .edit-items-container .item-btns,
    .edit-items-modal .modal-dialog .modal-content .add-items-container .item-btns,
    .edit-items-modal .modal-dialog .modal-content .edit-items-container .item-btns {
      margin-top: 2rem; } }
  @media (min-width: 992px) {
    .add-items-modal .modal-dialog .modal-content .add-items-container .item-btns,
    .add-items-modal .modal-dialog .modal-content .edit-items-container .item-btns,
    .edit-items-modal .modal-dialog .modal-content .add-items-container .item-btns,
    .edit-items-modal .modal-dialog .modal-content .edit-items-container .item-btns {
      margin-top: 1rem;
      margin-left: auto;
      margin-right: 0;
      margin-bottom: 0;
      width: 40%; } }
  .add-items-modal .modal-dialog .modal-content .add-items-container .item-btns button,
  .add-items-modal .modal-dialog .modal-content .edit-items-container .item-btns button,
  .edit-items-modal .modal-dialog .modal-content .add-items-container .item-btns button,
  .edit-items-modal .modal-dialog .modal-content .edit-items-container .item-btns button {
    cursor: pointer;
    border-radius: 50px; }
    .add-items-modal .modal-dialog .modal-content .add-items-container .item-btns button:active,
    .add-items-modal .modal-dialog .modal-content .edit-items-container .item-btns button:active,
    .edit-items-modal .modal-dialog .modal-content .add-items-container .item-btns button:active,
    .edit-items-modal .modal-dialog .modal-content .edit-items-container .item-btns button:active {
      animation: pulse 0.3s ease; }
    @media (min-width: 768px) {
      .add-items-modal .modal-dialog .modal-content .add-items-container .item-btns button,
      .add-items-modal .modal-dialog .modal-content .edit-items-container .item-btns button,
      .edit-items-modal .modal-dialog .modal-content .add-items-container .item-btns button,
      .edit-items-modal .modal-dialog .modal-content .edit-items-container .item-btns button {
        width: 49%; } }
    @media (min-width: 992px) {
      .add-items-modal .modal-dialog .modal-content .add-items-container .item-btns button,
      .add-items-modal .modal-dialog .modal-content .edit-items-container .item-btns button,
      .edit-items-modal .modal-dialog .modal-content .add-items-container .item-btns button,
      .edit-items-modal .modal-dialog .modal-content .edit-items-container .item-btns button {
        margin-left: auto; } }
  .add-items-modal .modal-dialog .modal-content .add-items-container .item-btns button:first-child,
  .add-items-modal .modal-dialog .modal-content .edit-items-container .item-btns button:first-child,
  .edit-items-modal .modal-dialog .modal-content .add-items-container .item-btns button:first-child,
  .edit-items-modal .modal-dialog .modal-content .edit-items-container .item-btns button:first-child {
    margin-bottom: 1rem; }
    @media (min-width: 768px) {
      .add-items-modal .modal-dialog .modal-content .add-items-container .item-btns button:first-child,
      .add-items-modal .modal-dialog .modal-content .edit-items-container .item-btns button:first-child,
      .edit-items-modal .modal-dialog .modal-content .add-items-container .item-btns button:first-child,
      .edit-items-modal .modal-dialog .modal-content .edit-items-container .item-btns button:first-child {
        margin-bottom: 0; } }

.add-items-modal .modal-dialog .modal-content .edit-items-container ul,
.edit-items-modal .modal-dialog .modal-content .edit-items-container ul {
  height: 63vh; }
  .add-items-modal .modal-dialog .modal-content .edit-items-container ul.fill-in-the-blanks textarea,
  .edit-items-modal .modal-dialog .modal-content .edit-items-container ul.fill-in-the-blanks textarea {
    height: 190px; }
  .add-items-modal .modal-dialog .modal-content .edit-items-container ul.fill-in-the-blanks .multiple-answers,
  .edit-items-modal .modal-dialog .modal-content .edit-items-container ul.fill-in-the-blanks .multiple-answers {
    height: 230px; }
    @media (min-width: 768px) {
      .add-items-modal .modal-dialog .modal-content .edit-items-container ul.fill-in-the-blanks .multiple-answers,
      .edit-items-modal .modal-dialog .modal-content .edit-items-container ul.fill-in-the-blanks .multiple-answers {
        height: 28vh; } }
  @media (min-width: 768px) {
    .add-items-modal .modal-dialog .modal-content .edit-items-container ul,
    .edit-items-modal .modal-dialog .modal-content .edit-items-container ul {
      height: 62vh; } }
  @media (min-width: 992px) {
    .add-items-modal .modal-dialog .modal-content .edit-items-container ul,
    .edit-items-modal .modal-dialog .modal-content .edit-items-container ul {
      height: 55vh; } }

.add-items-modal .modal-dialog .modal-content .edit-items-container textarea,
.edit-items-modal .modal-dialog .modal-content .edit-items-container textarea {
  height: 390px;
  resize: none;
  margin-bottom: 1rem; }
  @media (min-width: 768px) {
    .add-items-modal .modal-dialog .modal-content .edit-items-container textarea,
    .edit-items-modal .modal-dialog .modal-content .edit-items-container textarea {
      height: 430px; } }
  @media (min-width: 992px) {
    .add-items-modal .modal-dialog .modal-content .edit-items-container textarea,
    .edit-items-modal .modal-dialog .modal-content .edit-items-container textarea {
      height: 250px; } }

@media (min-width: 768px) {
  .add-items-modal .modal-dialog .modal-content .edit-items-container .fill-in-the-blanks textarea,
  .edit-items-modal .modal-dialog .modal-content .edit-items-container .fill-in-the-blanks textarea {
    height: 23vh !important; } }

@media (min-width: 992px) {
  .add-items-modal .modal-dialog .modal-content .edit-items-container .fill-in-the-blanks textarea,
  .edit-items-modal .modal-dialog .modal-content .edit-items-container .fill-in-the-blanks textarea {
    height: 42vh !important; } }

@media (min-width: 768px) {
  .add-items-modal .modal-dialog .modal-content .edit-items-container .fill-in-the-blanks .multiple-answers,
  .edit-items-modal .modal-dialog .modal-content .edit-items-container .fill-in-the-blanks .multiple-answers {
    height: 22vh !important; } }

@media (min-width: 992px) {
  .add-items-modal .modal-dialog .modal-content .edit-items-container .fill-in-the-blanks .multiple-answers,
  .edit-items-modal .modal-dialog .modal-content .edit-items-container .fill-in-the-blanks .multiple-answers {
    height: 42vh !important; } }

.add-items-modal .modal-dialog .modal-content .edit-items-container button,
.edit-items-modal .modal-dialog .modal-content .edit-items-container button {
  margin-left: auto;
  margin-right: auto; }
  @media (min-width: 992px) {
    .add-items-modal .modal-dialog .modal-content .edit-items-container button,
    .edit-items-modal .modal-dialog .modal-content .edit-items-container button {
      margin-right: 0; } }

.create-study-set {
  background-color: white;
  color: #505050; }
  .create-study-set:hover {
    background-color: #fafafa;
    filter: drop-shadow(0 3px 2px rgba(0, 0, 0, 0.1));
    color: #505050; }

.study-table {
  position: relative; }
  .study-table .study-table-container {
    max-height: 65vh;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 10px;
    margin-top: 2rem; }
    @media (min-width: 992px) {
      .study-table .study-table-container {
        max-height: 57vh !important; } }
    .study-table .study-table-container thead {
      position: sticky;
      top: 0;
      z-index: 1;
      text-align: center;
      vertical-align: middle; }
      .study-table .study-table-container thead th {
        color: #505050; }
    .study-table .study-table-container th:first-child {
      border-radius: 10px 0 0 0; }
    .study-table .study-table-container th:last-child {
      border-radius: 0 10px 0 0; }
    .study-table .study-table-container tbody tr {
      border: transparent; }
      .study-table .study-table-container tbody tr:hover div {
        display: flex; }
        @media (min-width: 992px) {
          .study-table .study-table-container tbody tr:hover div {
            display: inline-block; } }
      .study-table .study-table-container tbody tr:hover .edit-btn {
        display: inline-block; }
    .study-table .study-table-container tbody tr:last-child td:first-child {
      border-radius: 0 0 0 10px; }
    .study-table .study-table-container tbody tr:last-child td:last-child {
      border-radius: 0 0 10px 0; }
    .study-table .study-table-container tbody .lg {
      display: none; }
      @media (min-width: 768px) {
        .study-table .study-table-container tbody .lg {
          display: block; } }
    @media (min-width: 768px) {
      .study-table .study-table-container tbody .sm {
        display: none; } }
    .study-table .study-table-container .checkbox-td span {
      display: inline-block; }
    .study-table .study-table-container .checkbox-td .delete-checkbox {
      margin-right: 1rem; }
    @media (min-width: 768px) {
      .study-table .study-table-container {
        max-height: 70vh; } }
    @media (min-width: 992px) {
      .study-table .study-table-container {
        max-height: 65vh; } }
    .study-table .study-table-container .setName {
      position: relative;
      width: 50% !important;
      vertical-align: middle;
      padding-left: 1rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
      .study-table .study-table-container .setName span:nth-child(2) {
        width: 10px; }
      .study-table .study-table-container .setName .edit-btn {
        display: none; }
    .study-table .study-table-container .createdOn {
      font-size: 0.75rem;
      vertical-align: middle; }
      .study-table .study-table-container .createdOn p {
        margin: 0;
        text-align: center; }
      @media (min-width: 992px) {
        .study-table .study-table-container .createdOn {
          width: 10%; } }
    .study-table .study-table-container .items {
      text-align: center;
      vertical-align: middle;
      position: relative;
      font-weight: 800;
      color: #1D5D9B; }
      @media (min-width: 992px) {
        .study-table .study-table-container .items {
          width: 20%;
          text-align: center; } }
      .study-table .study-table-container .items span {
        display: inline-block; }
      .study-table .study-table-container .items div {
        display: none;
        position: absolute;
        right: 0;
        top: 0;
        width: 280%;
        height: 100%;
        justify-content: space-around;
        align-items: center;
        background-color: white; }
        .study-table .study-table-container .items div button {
          padding: 5px 10px;
          font-size: 0.85rem;
          height: 35px;
          border-radius: 10px;
          border: transparent;
          color: white;
          text-shadow: 0 0 3px #6f6f6f;
          font-weight: 600; }
          @media (min-width: 768px) {
            .study-table .study-table-container .items div button {
              width: 100px;
              font-size: 1rem; } }
          @media (min-width: 992px) {
            .study-table .study-table-container .items div button {
              width: auto;
              margin: 10px; } }
        .study-table .study-table-container .items div .view {
          background-color: #70ecff; }
        .study-table .study-table-container .items div .add {
          background-color: #eeff70; }
        .study-table .study-table-container .items div .study {
          background-color: #70ff70; }
        @media (min-width: 992px) {
          .study-table .study-table-container .items div {
            display: inline-block;
            position: relative;
            width: auto;
            background-color: transparent; } }

.main-panel .addNewSet {
  position: absolute;
  width: 100%;
  height: 65px;
  left: 0;
  bottom: 3rem;
  display: flex;
  justify-self: center; }
  .main-panel .addNewSet button {
    margin-top: 0; }

.items-table {
  position: relative; }
  .items-table .delete {
    top: 30px; }
    @media (min-width: 768px) {
      .items-table .delete {
        top: 45px; } }
  .items-table .stat-button {
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 30px; }
    .items-table .stat-button:active {
      animation: pulse 0.3s ease; }
    @media (min-width: 768px) {
      .items-table .stat-button {
        right: 50px; } }
    @media (min-width: 992px) {
      .items-table .stat-button {
        right: 170px; } }
    .items-table .stat-button img {
      height: 30px;
      width: auto; }
  .items-table .items-table-container {
    max-height: 65vh;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 10px;
    margin-top: 2rem; }
    @media (min-width: 992px) {
      .items-table .items-table-container {
        max-height: 57vh !important; } }
    .items-table .items-table-container thead {
      position: sticky;
      top: 0;
      z-index: 1;
      text-align: center;
      vertical-align: middle; }
      .items-table .items-table-container thead th {
        color: #505050; }
    .items-table .items-table-container th:first-child {
      border-radius: 10px 0 0 0; }
    .items-table .items-table-container th:last-child {
      border-radius: 0 10px 0 0; }
    .items-table .items-table-container tbody tr {
      border: transparent; }
      .items-table .items-table-container tbody tr:hover div {
        display: flex; }
        @media (min-width: 992px) {
          .items-table .items-table-container tbody tr:hover div {
            display: inline-block; } }
      .items-table .items-table-container tbody tr:hover .edit-btn {
        display: inline-block; }
    .items-table .items-table-container tbody tr:last-child td:first-child {
      border-radius: 0 0 0 10px; }
    .items-table .items-table-container tbody tr:last-child td:last-child {
      border-radius: 0 0 10px 0; }
    .items-table .items-table-container tbody .lg {
      display: none; }
      @media (min-width: 768px) {
        .items-table .items-table-container tbody .lg {
          display: block; } }
    @media (min-width: 768px) {
      .items-table .items-table-container tbody .sm {
        display: none; } }
    .items-table .items-table-container .checkbox-td span {
      display: inline-block; }
    .items-table .items-table-container .checkbox-td .delete-checkbox {
      margin-right: 1rem; }
    .items-table .items-table-container .item-no {
      font-weight: 700;
      color: #505050;
      width: 20%; }
      @media (min-width: 768px) {
        .items-table .items-table-container .item-no {
          width: 10%; } }
      @media (min-width: 992px) {
        .items-table .items-table-container .item-no {
          width: 6%; } }
    .items-table .items-table-container .item-preview {
      position: relative;
      max-width: 50px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis; }
      .items-table .items-table-container .item-preview .edit-btn {
        display: none; }
    .items-table .items-table-container .item-type {
      width: 40%;
      color: #1D5D9B; }
      @media (min-width: 768px) {
        .items-table .items-table-container .item-type {
          width: 20%; } }
      @media (min-width: 992px) {
        .items-table .items-table-container .item-type {
          width: 15%; } }
    @media (min-width: 992px) {
      .items-table .items-table-container {
        max-height: 63vh; } }

.items-panel-study {
  position: absolute;
  width: 100%;
  height: 65px;
  left: 0;
  bottom: 5rem;
  display: flex;
  justify-self: center; }
  .items-panel-study button {
    margin-top: 0;
    width: 212.45px; }

.study-mode {
  position: absolute;
  top: 20px; }
  .study-mode label {
    margin-right: 1rem;
    font-weight: 700;
    color: #505050; }
  .study-mode select {
    display: inline-block;
    width: 150px; }

a {
  margin: auto; }
  a .study-btn {
    background-color: white;
    color: #505050; }
    a .study-btn:hover {
      background-color: #fafafa;
      filter: drop-shadow(0 3px 2px rgba(0, 0, 0, 0.1));
      color: #505050; }

.current-item {
  text-align: center;
  font-weight: 800;
  color: #1D5D9B;
  background-color: white;
  border-radius: 10px;
  padding: 5px !important;
  width: 30%;
  margin: auto;
  margin-top: 1rem; }
  @media (min-width: 768px) {
    .current-item {
      width: 20%; } }
  @media (min-width: 992px) {
    .current-item {
      width: 10%; } }
  .current-item p {
    margin: 0; }

div.timer {
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: -20px;
  text-align: end;
  font-weight: 600;
  color: #505050; }
  div.timer .hours::after {
    content: ':'; }
  div.timer .minutes::after {
    content: ':'; }
  div.timer .hours, div.timer .minutes, div.timer .seconds {
    font-family: 'Roboto Mono', monospace; }

.exit {
  cursor: pointer;
  position: absolute;
  top: 90px;
  font-weight: 600;
  color: #505050; }
  .exit:active {
    animation: pulse 0.3s ease; }
  .exit img {
    height: 20px;
    margin-right: 0.33333rem; }

.question-and-answer .statement {
  filter: drop-shadow(0 3px 2px rgba(0, 0, 0, 0.1));
  overflow-y: auto;
  background-color: white;
  padding: 1rem;
  border-radius: 10px;
  height: 50vh;
  margin-bottom: 1rem;
  font-size: 1.4rem;
  font-weight: 700;
  color: #505050; }
  @media (min-width: 768px) {
    .question-and-answer .statement {
      height: 55vh; } }
  @media (min-width: 992px) {
    .question-and-answer .statement {
      height: 40vh; } }

.question-and-answer form .form-group {
  display: flex;
  justify-content: space-between; }
  @media (min-width: 768px) {
    .question-and-answer form .form-group input {
      width: 83%; } }
  @media (min-width: 768px) {
    .question-and-answer form .form-group button {
      width: 16%; } }

@media (min-width: 768px) {
  .question-and-answer form .final-answer {
    display: flex;
    justify-content: space-between; } }

.question-and-answer form .final-answer .answer {
  max-width: 92%;
  overflow-x: auto; }

.question-and-answer form .final-answer img {
  position: absolute;
  top: 5px;
  right: 5px;
  height: 25px;
  width: auto; }

.question-and-answer form .final-answer .correct {
  position: relative;
  background-color: white;
  color: #505050;
  padding: 6px 12px;
  border-radius: 10px;
  outline: 5px solid rgba(119, 255, 119, 0.5); }
  @media (min-width: 768px) {
    .question-and-answer form .final-answer .correct {
      display: inline-block;
      width: 83%; } }

.question-and-answer form .final-answer .wrong {
  position: relative;
  background-color: white;
  color: #505050;
  padding: 6px 12px;
  border-radius: 10px;
  outline: 5px solid rgba(255, 119, 119, 0.5); }
  @media (min-width: 768px) {
    .question-and-answer form .final-answer .wrong {
      display: inline-block;
      width: 83%; } }

.question-and-answer form .final-answer button {
  display: none; }
  @media (min-width: 768px) {
    .question-and-answer form .final-answer button {
      display: inline-block;
      width: 16%; } }

.question-and-answer form .correct-answer {
  margin-top: 1rem;
  position: relative; }
  .question-and-answer form .correct-answer p {
    margin-bottom: 0.5rem; }
  .question-and-answer form .correct-answer .case-sensitive {
    position: absolute;
    right: 0;
    top: 0;
    color: #505050; }
  .question-and-answer form .correct-answer .display-answers {
    display: flex;
    column-gap: 5px;
    overflow-x: auto;
    padding: 1rem;
    padding-top: 0;
    padding-left: 0; }
    .question-and-answer form .correct-answer .display-answers span {
      background-color: white;
      padding: 0.33333rem 1rem;
      border-radius: 10px;
      border: 1px solid #505050;
      text-wrap: nowrap; }
    .question-and-answer form .correct-answer .display-answers.fill-in-the-blanks {
      display: block;
      padding: 1rem;
      padding-top: 0;
      padding-left: 0;
      height: 20vh;
      overflow-x: hidden; }
      .question-and-answer form .correct-answer .display-answers.fill-in-the-blanks > div {
        margin: 1rem;
        display: flex;
        overflow-x: auto; }
        .question-and-answer form .correct-answer .display-answers.fill-in-the-blanks > div span:first-child {
          display: flex;
          align-content: center;
          justify-content: center;
          font-weight: 800;
          border-radius: 50%;
          text-align: center;
          vertical-align: middle;
          height: 40px;
          width: 40px;
          margin-right: 1rem;
          border: none;
          background-color: #FBEEAC;
          color: #646464; }
        .question-and-answer form .correct-answer .display-answers.fill-in-the-blanks > div span {
          margin-right: 1rem; }
      @media (min-width: 992px) {
        .question-and-answer form .correct-answer .display-answers.fill-in-the-blanks {
          height: 26vh; } }
  .question-and-answer form .correct-answer hr {
    margin-top: 0; }

.question-and-answer form .buttons {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 2rem;
  display: flex;
  justify-content: center; }
  .question-and-answer form .buttons button {
    font-weight: 500;
    width: 50%; }

.question-and-answer.fill-in-the-blanks-questions form .statement {
  height: 40vh; }
  .question-and-answer.fill-in-the-blanks-questions form .statement input {
    border: none;
    outline: 2px solid #505050 !important;
    width: 140px;
    margin: 5px;
    padding: 5px;
    color: #505050; }
    .question-and-answer.fill-in-the-blanks-questions form .statement input:focus {
      border: none !important;
      outline: 5px solid #75C2F6 !important; }
  .question-and-answer.fill-in-the-blanks-questions form .statement span {
    color: #1D5D9B;
    padding: 0 10px; }
    .question-and-answer.fill-in-the-blanks-questions form .statement span::after {
      content: '';
      display: inline-block;
      background-size: contain;
      height: 20px;
      width: 20px;
      margin-left: 5px; }
    .question-and-answer.fill-in-the-blanks-questions form .statement span.correct {
      border: solid #10ff00;
      border-width: 0 0 3px 0; }
      .question-and-answer.fill-in-the-blanks-questions form .statement span.correct::after {
        background-image: url("/images/correct.svg"); }
    .question-and-answer.fill-in-the-blanks-questions form .statement span.wrong {
      border: solid #ff0000;
      border-width: 0 0 3px 0; }
      .question-and-answer.fill-in-the-blanks-questions form .statement span.wrong::after {
        background-image: url("/images/wrong.svg"); }
  @media (min-width: 992px) {
    .question-and-answer.fill-in-the-blanks-questions form .statement {
      height: 25vh; } }

@media (min-width: 768px) {
  .question-and-answer.fill-in-the-blanks-questions form button {
    display: block !important;
    margin-left: auto; } }

.summary {
  text-align: center; }
  .summary h1 {
    color: #F4D160;
    margin-bottom: 0; }
    @media (min-width: 992px) {
      .summary h1 {
        margin-bottom: 0.5rem; } }
  .summary h2 {
    color: #505050;
    font-size: 1rem; }
  .summary .result {
    position: relative;
    margin-top: 4rem; }
  .summary .result.high .percent {
    color: #10ff00;
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.1), 0 0 20px rgba(119, 255, 119, 0.5), 0 0 50px rgba(119, 255, 119, 0.5); }
  .summary .result.low .percent {
    color: #ff0000;
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.1), 0 0 20px rgba(255, 119, 119, 0.5), 0 0 50px rgba(255, 119, 119, 0.5); }
  .summary .result.mid .percent {
    color: #ffe100;
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.1), 0 0 20px rgba(255, 225, 0, 0.5), 0 0 50px rgba(255, 225, 0, 0.5); }
  .summary .percent {
    filter: drop-shadow(0 3px 2px rgba(0, 0, 0, 0.1));
    font-weight: 800;
    background-color: white;
    width: 200px;
    height: 200px;
    padding: 4rem 2rem;
    border-radius: 50%;
    margin: auto; }
  .summary .percent span:first-child {
    font-size: 3rem; }
  .summary .score {
    position: relative;
    bottom: 60px;
    line-height: 1rem; }
    .summary .score p {
      margin: 0;
      color: #505050;
      font-weight: 600; }
  .summary .elapsed-time {
    margin-top: 2rem; }
    .summary .elapsed-time p {
      color: #505050;
      margin-bottom: 0; }
    .summary .elapsed-time span {
      font-size: 1.4rem;
      font-weight: 800;
      color: #1D5D9B; }
  .summary button {
    position: relative;
    bottom: -25vh;
    width: 100px; }
    @media (min-width: 992px) {
      .summary button {
        bottom: -15vh; } }

h2.stat {
  text-align: center;
  margin-top: 1rem;
  font-weight: 700;
  color: #505050; }

.exit.stat {
  top: 80px; }
  @media (min-width: 992px) {
    .exit.stat {
      right: -60px;
      top: 10px; } }

.magnify {
  position: absolute;
  right: 20px;
  top: 120px; }
  @media (min-width: 992px) {
    .magnify {
      right: 30px;
      top: 100px; } }
  .magnify span {
    cursor: pointer;
    padding: 10px; }
    .magnify span:active {
      animation: pulse 0.3s ease; }
    .magnify span:hover {
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
      background-color: rgba(255, 255, 255, 0.5);
      border-radius: 10px; }
    .magnify span.disable {
      cursor: default;
      opacity: 0.5;
      animation: none; }
      .magnify span.disable:hover {
        background-color: transparent;
        box-shadow: none; }
    .magnify span img {
      height: 20px; }

.chart-container {
  padding-left: 0 !important;
  overflow-x: auto; }
  @media (min-width: 992px) {
    .chart-container {
      padding: 20px 160px 0 110px !important; } }
  .chart-container .chart {
    height: 60vh !important; }
    .chart-container .chart .recharts-legend-wrapper {
      margin-left: 2rem; }
    .chart-container .chart .custom-tooltip {
      background-color: rgba(255, 255, 255, 0.7);
      padding: 1rem;
      border-radius: 10px; }
      .chart-container .chart .custom-tooltip .date, .chart-container .chart .custom-tooltip .time {
        font-weight: 600; }
      .chart-container .chart .custom-tooltip p {
        margin-bottom: 0; }

.save-chart {
  display: flex;
  justify-content: center; }

.no-data {
  text-align: center;
  margin-top: 20rem;
  color: #505050; }
